
<div class="container-middle">
  <div id="carousel-container">
    <%= render partial: 'yacht_details' %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'yacht_details' %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'booking_form' %>
    </div>
  </div>
</div>
