.btn-flat {
  color: white;
  padding: 8px 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #5db3cf;
  transition: background 0.3s ease;
}

.btn-update {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #0873df;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #6a757e;
  transition: background 0.3s ease;
}
