.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-large {
  height: 50vh;
  max-height: 400px;
}

.card {
  align-items: right;
  color: rgb(13, 1, 1);
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
