.status-pill {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  color: white;
}


.status-pill.pending {
  background-color: #f0ad4e;
}

.status-pill.confirmed {
  background-color: #5cb85c;
}

.status-pill.canceled {
  background-color: #d9534f;
}
